@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
 font-family: "Figtree", sans-serif;
 background-color: black;
}

.content{
    border-color: #385b2d;
}

.pokok{
    .head{
        color: #9FED81;
    }
}

.wajib{
    background-color: rgb(31, 31, 31, 0.8);
    .head{
        color: #9FED81;
    }

    .amount{
        font-size: 22px;
    }
}

.sukarela{
    background-color: rgb(31, 31, 31, 0.8);
    .head{
        color: #9FED81;
    }

    .amount{
        font-size: 22px;
    }
}

.balance{
    background-color: #385b2d;

    button{
        background-color: #9FED81;
    }
}

@media (max-width: 640px) {
    .content{
        background-image: url('/coop-link/images/TOPO\ BG\ mobile.png');
        background-position: bottom;
        background-size: cover;
    }
    
}
@media (min-width: 641px){
    .wajib{
        .amount{
            font-size: 55px;
        }
    }

    .sukarela{
        .amount{
            font-size: 55px;
        }
    }

    .balance{
        background-image: url('/coop-link/images/bg\ hijau.png');
        background-position: center;
        background-size: cover;
    }
}
